@(course: Course, questionForm: Form[String], email: Option[String], 
firstname: Option[String], lastname: Option[String])

@import helper._

@main("course.title") {
  <header>
    @email match {
      case Some(email) => {
        <span>@firstname</span> <span> </span> <span>@lastname</span> <a href="@routes.Application.logout">Déconnexion</a>
      }
      case None        => {
        <a href="@routes.Application.login">Connexion</a>
      }
    }
  </header>

  <h1>@course.title</h1>
  
  <ul>
    @course.questions.map { question =>
      <li>
    	@question.workstationId @if(question.answered) { (Résolue) }
    	
      @if(email.getOrElse("") == question.user){
        @form(routes.Application.deleteQuestion(question.id)) {
        <input type="submit" value="Supprimer">
        }
        @form(routes.Application.setQuestionAsAnswered(question.id)) {
          <input type="submit" value="Marquer comme résolue">
        }
      }
      </li>
    }
  </ul>
  
  @email match {
    case Some(email) => {
      <h2>J'ai une question!</h2>
  
      @form(routes.Application.newQuestion) {
	 Entrer la question ici!
     <input type="type" name="workstationId" size=80>
     <input type="submit" value="Soumettre">
     
   } 
    }
    case None        => {
      
    }
  }
}
