@(loginForm: Form[String], errorMessage: String)

@import helper._

@main("Login") {
	<p>@errorMessage</p>

	@form(routes.Application.loginPost) {
	      <fieldset>
		<input type="hidden" name="openid" value = "https://www.google.com/accounts/o8/id">
		<input type="submit" value="Google">
	      </fieldset>
	      
	      <fieldset>
		@form(routes.Application.loginPost) {
                Entrer votre open ID
				<input type="type" name="openid">
                <input type="submit" value="Connexion">
        }
	      </fieldset>
	      @form(routes.Application.cancelLogin) {
			<input type="submit" value="Retour">
		}
	}
}
